body {
    margin: 0;
    padding: 0;
    background-color: skyblue;
}

.container {
    width: 450px;
    margin: 0 auto;
    padding: 1px 15px 25px;
}

.container h1 {
    text-align: center;
}

.container .wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px;
}
.container .wrapper input {
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    padding: 5px;
    width: 70%;
}

.container .wrapper button {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    width: 25%;
}

.container .wrapper button:active {
    background-color: #000;
    color: #fff;
}

.container .wrapper h4 {
    display: none;
    margin: 0;
}

.notes .area {
    padding: 0 25px 0 0;
    width: calc(100% - 26px);
    min-height: 50px;
    border: 1px solid #000000;
    background-color: #F5EA54;
}
.notes .area ul li {
    float: left;
}
.notes .area ul div {
    display: flex;
    justify-content: end;
    cursor: pointer;
    color: red;
}