@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url(https://img2.abo.media/upload/article/o_1dul4k3gh7ul1t3r129d1i41168b1k.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 450px;
    min-height: 70vh;
    margin: 30px auto;
    padding: 1px 15px 25px;
    background-color: rgba(255, 255, 255, .8);
}

.container h1, h2 {
    font-family: 'Bentham', serif;
    text-align: center;    
}

.container .wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px;
}
.container .wrapper input {
    font-family: 'Bentham', serif;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    padding: 5px;
    width: 70%;
    font-size: 10px;
}

.container .wrapper button {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    width: 25%;
}

.container .wrapper button:active {
    background-color: #000;
    color: #fff;
}

.container .wrapper h2 {
    display: none;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

.notes .area {
    padding: 1px 25px 1px 0;
    width: calc(100% - 26px);
    min-height: 50px;
    background-color: #fff;
}

.notes .area ul .checkbox {
    float: left;
}

.notes .area ul input:checked + div>li {
    text-decoration: line-through;
    opacity: .5;
}

.notes .area ul div {
    display: flex;
    justify-content: space-between;
}

.notes .area ul div li {
    font-family: 'Bentham', serif;
    color: #000;
    margin: 0 0 0 20px;
}

.notes .area ul div .delete {
    cursor: pointer;
    color: red;
}

.goose img {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
}

input:checked {
    
}